<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>MD5DigestPerformanceTests</key>
		<dict>
			<key>testCommonCryptoShining()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>5.9301</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30.09.2017, 13:58:36</string>
				</dict>
			</dict>
			<key>testCommonCryptoSmallMessage()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.24309</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30.09.2017, 14:17:16</string>
				</dict>
			</dict>
			<key>testMD5DigestShining()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>5.3868</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30.09.2017, 13:58:36</string>
				</dict>
			</dict>
			<key>testMD5DigestSmallMessage()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.63867</real>
					<key>baselineIntegrationDisplayName</key>
					<string>30.09.2017, 14:17:16</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
